<p><%= l(:notice_account_activated) %></p>
<p><%= l(:label_login) %>: <%= link_to h(@login_url), @login_url %></p>

<p>If you are from External Internet, Please use this URL: http://dev.esazx.com:3000/</p>
<p>如果你是从外网登陆该系统，主域名请使用以下 URL: http://dev.esazx.com:3000/ 否则访问的是内网域名会无法登陆。</p>
