<p><%= l(:mail_body_account_activation_request, h(@user.login)) %></p>
<p><%= link_to h(@url), @url %></p>

<p>If you are from External Internet, Please use this URL: http://dev.esazx.com:3000/login </p>
<p>如果你是从外网登陆该系统，请使用以下 URL: http://dev.esazx.com:3000/login 否则访问的是内网域名会无法登陆。</p>